@import url(../../caption/section-title.css);
@import url(../../caption/section-subtitle.css);
@import url(./cards/cards.css);

.techniques {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 0 auto;
}