

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;  /* выше установили ограничения для секции */
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
  }