@import url(../table/table.css);
@import url(./__triangle/kaufman__triangle.css);
@import url(../../caption/section-title.css);
@import url(../../caption/section-subtitle.css);
@import url(../../caption/section-title_theme_dark.css);
@import url(../../caption/section-subtitle_theme_dark.css);

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}