@import url(/styles/blocks/content/description/two-colums/two-columns.css);
@import url(/styles/blocks/content/description/two-colums/__brief/two-columns__brief.css);
@import url(/styles/blocks/content/description/two-colums/__main-text/two-columns__main-text.css);
@import url(/styles/blocks/content/description/two-colums/__paragraph/two-columns__paragraph.css);

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}