@import url(/styles/blocks/footer/__autor/footer__autor.css);
@import url(/styles/blocks/footer/__column-heading/footer__column-heading.css);
@import url(/styles/blocks/footer/__column-link/footer__column-link.css);
@import url(/styles/blocks/footer/__column-links/footer__column-links.css);
@import url(/styles/blocks/footer/__column/footer__column.css);
@import url(/styles/blocks/footer/__column/_content/_copyright/footer__column_content_copyright.css);
@import url(/styles/blocks/footer/__column/_content/_social/footer__column_content_social.css);
@import url(/styles/blocks/footer/__columns/footer__columns.css);
@import url(/styles/blocks/footer/__social-icon/footer__social-icon.css);

.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  min-height: 350px;
  margin: 0;
}