@import url(/styles/blocks/content/description/two-colums/__brief/two-columns__brief);
@import url(/styles/blocks/content/description/two-colums/__main-text/two-columns__main-text.css);
@import url(/styles/blocks/content/description/two-colums/__paragraph/two-columns__paragraph.css);
@import url(/styles/blocks/content/description/two-colums/__span-accent/two-columns__span-accent.css);

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }