@import url(/styles/blocks/content/description/two-colums/two-columns.css);
@import url(/styles/blocks/content/description/two-colums/__brief/two-columns__brief);
@import url(/styles/blocks/content/description/two-colums/__main-text/two-columns__main-text.css);
@import url(/styles/blocks/content/description/two-colums/__paragraph/two-columns__paragraph.css);
@import url(/styles/blocks/content/description/two-colums/__span-accent/two-columns__span-accent.css);


.description {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }  