@import url(../../styles/blocks/header/header.css);
@import url(../../styles/blocks/logo/logo.css);
/* готово */
@import url(../../styles/blocks/content/content.css);

@import url(../../styles/blocks/footer/footer.css);
/* готово */


.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}